<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!--
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    -->
    
    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>FSControl</title>
</head>
<body>
    <div id="app">
        <div class="grid-container">
            <div class="grid-item col--2x"
                    v-if="values.AutopilotAvailable">
                <auto-pilot 
                    v-bind:values="values"
                    v-on:value-changed="onValueChanged"></auto-pilot>
            </div>
            <div class="grid-item" 
                v-bind:class="'col--' + commsAmmount + 'x'"
                v-if="commsAmmount > 0">
                <radio-control
                    v-bind:values="values"
                    v-bind:maxcoms="2"
                    v-on:value-changed="onValueChanged"></radio-control>
            </div>
            <div class="grid-item"
                    v-if="values.FlapsAvail">
                <flap-control 
                    v-bind:values="values"
                    v-on:value-changed="onValueChanged"></flap-control>
            </div>
            <div class="grid-item">
                <trim-control 
                    v-bind:values="values"
                    v-on:value-changed="onValueChanged"></trim-control>
            </div>
        </div>
        <div id="full-screen-button">
            <button v-on:click="onFullScreenPressed" v-if="$el.requestFullscreen">
                <span class="material-icons">
                    fullscreen
                </span>
            </button>
        </div>
    </div>
    
    <script src="js/components/fs-button.js"></script>
    <script src="js/components/fs-knob.js"></script>
    <script src="js/panels/auto-pilot.js"></script>
    <script src="js/panels/flap-control.js"></script>
    <script src="js/panels/radio-control.js"></script>
    <script src="js/panels/trim-control.js"></script>
    <script src="js/main.js"></script>
</body>
</html>